/* =============================================================================
//  Module/component title
// ========================================================================== */

/*doc
---
title: Module
name: module
category: core
---

Documentation here

*/

// @import "../core/all";

// $component-variable: false; // always scope to namespace

/* Base
// -------------------------------------------------------------------------- */

// .component {}


/* Subcomponent
// -------------------------------------------------------------------------- */

// .component-subcomponent {}

/* Modifiers
// -------------------------------------------------------------------------- */

// .component--modifier {}
