<!-- Main footer -->
<footer class="main_footer c-theme-reverse">
    <div class="main_footer-group main_footer-group--left">
        <!-- GPOBA styleguide lockup -->
        <% link_to "/", :class => "logo-main_lockup" do %>
            <%= partial("components/logo", :locals => { :classes => "logo logo--gpoba" }) %>
            Styleguide
        <% end %>
    </div>

    <nav class="main_footer-group main_footer-group--right">
        <ul class="utility_nav">
            <li class="utility_nav-item">
                <small>&copy; Copyright <%= Time.now.year %> GPOBA</small>
            </li>
            <li class="utility_nav-item">
                <a href="http://www.worldbank.org/legalinfo">Legal</a>
            </li>
            <li class="utility_nav-item">
                <a href="http://gpoba.org">gpoba.org</a>
            </li>
        </ul>
    </nav>
</footer>
