// z-indexes
// -----------------------------------------------------------------------------

$z--low    : 0;
$z--middle : 1;
$z--high   : 2;

$z--admin  : 3; // put admin/drupal navs above all the things
