/* ==========================================================================
//  Global media styles
// ========================================================================== */

@import "../core/scale";

/* Mixins
// -------------------------------------------------------------------------- */

// padding to force an aspect ratio
// -> apply mixin to a container element, and the child element will be constrained
// -> mostly used for images, but should work on basically anything
@mixin media-aspect($w, $h, $child_el: ".media-aspect-content") {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: " ";
        width: 100%;
        // min-height: 100px;
        padding-top: (($w/$h) * 100%);
    }

    #{$child_el} {
        @include color('bg', 'background-color');
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@mixin media-kill-aspect {
    &::before {
        content: none;
    }
}

/* Globals
// -------------------------------------------------------------------------- */

audio,
canvas,
img,
video {
    vertical-align: middle;
    max-width: 100%;
}

/* Utilities
// -------------------------------------------------------------------------- */

.media-aspect-1-1 { @include media-aspect(1, 1); }
.media-aspect-1-2 { @include media-aspect(ms(1), ms(2)); }
