/* =============================================================================
//  Main header
// ========================================================================== */

/*doc
---
title: Main Header
name: main header
category: organisms
---

Documentation here

*/

@import "../core/all";

$main_nav-w: 160px; // always scope to namespace

/* Base
// -------------------------------------------------------------------------- */

.main_nav {
    @include font-accent;
    @include rem(width, $main_nav-w);
    display: block;
    position: relative;
    list-style: none;
    margin-left: 0;

    > ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    > li { margin-bottom: 1em; }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

// second-tier nav (for sections)
.main_nav-subnav {
    margin: 0.5em 0 1.5em 0;

    > ul, > li {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0.6em;
    }
}

// nav items
.main_nav-item {
    display: block;
    position: relative;

    &.is-active::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: border-w('thick');
        background-color: theme('highlight');
    }
}

    .main_nav-item--secondary.is-active::before {
        background-color: darken(theme('highlight'), 15);
    }

// nav links
// -> mainly styles type & color
.main_nav-link {
    @include transition-default;
    @include type-scale('eta');
    @include font-accent('bold');
    margin-left: $l-margin-wide;
    text-transform: uppercase;
    color: theme('text' 'primary');

    &:hover, &:active {
        text-decoration: none;
        color: theme('highlight');
    }

    .main_nav-item.is-active > & { color: theme('highlight'); }
}

    // secondary nav items in the subnav (see above)
    .main_nav-link--secondary {
        @include font-accent;
        @include color('text' 'tertiary');
    }


/* Modifiers
// -------------------------------------------------------------------------- */

@include breakpointify(".main_nav--fixed") {
    position: fixed;
}

@include breakpointify(".has-main_nav-margin") {
    @include rem(margin-left, ($main_nav-w + $l-margin-wide));
    display: block;
}


/* State
// -------------------------------------------------------------------------- */
