/* =============================================================================
//  Main header
// ========================================================================== */

/*doc
---
title: Main Header
name: main header
category: organisms
---

Documentation here

*/

@import "../core/all";

$main_nav-w: 160px; // always scope to namespace

/* Base
// -------------------------------------------------------------------------- */

.main_nav {
    @include rem(width, $main_nav-w);
    display: block;
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: $l-margin-wide;

    > ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    > li {
        margin-bottom: 1em;
    }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

.main_nav-subnav {
    margin: 0.5em 0 1.5em 0;

    > ul, > li {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0.6em;
    }
}

.main_nav-item {
    @include type-scale('eta');
    @include font-body('bold');
    @include color('text' 'primary');
    text-transform: uppercase;

    &.is-active {
        @include color('highlight');
    }
}

    .main_nav-item--secondary {
        // @include type-scale('theta');
        @include font-body;
        @include color('text' 'tertiary');
    }


/* Modifiers
// -------------------------------------------------------------------------- */

@include breakpointify(".main_nav--fixed") {
    position: fixed;
}

@include breakpointify(".has-main_nav-margin") {
    @include rem(margin-left, ($main_nav-w + $l-margin-wide));
    display: block;
}


/* State
// -------------------------------------------------------------------------- */
