---
layout: layout
---

<article>
    <section class="panel">
        <h1 class="t-heading t-alpha"><%= category %></h1>

        <div class="l-wrapper">
            <h1 class="t-heading t-beta">test</h1>
            <main class="content">
                test test test
            </main>
        </div>
    </section>
</article>
