---
layout: layout
---
<%# add the chapter title to this page's metadata %>
<% current_page.add_metadata({
    'title' => locals[:title]
}) %>

<article>
    <h1 class="t-heading t-scale-alpha"><%= locals[:title].titleize %></h1>

    <% sitemap.resources.select {|a| a.data.chapter == locals[:title] }.sort_by {|a| a.data.weight }.each do |section| %>
        <section class="panel" id="<%= section.title.urlize %>">
            <div class="l-wrapper">
                <h2 class="t-heading t-scale-beta"><%= section.title %></h2>
                <div class="content">
                    <%= section.render %>
                </div>
            </div>
        </section>
    <% end %>
</article>
