---
layout: layout
---
<%# add the chapter title to this page's metadata %>
<% current_page.add_metadata({
    'title' => locals[:title]
}) %>

<article>
    <h1 class="t-heading t-scale-alpha">test</h1>

    test test test
</article>
