---
title: home
---

<main class="l-wrapper l-margin-top-wide">
    <h1 class="t-heading t-heading--title t-scale-alpha c-highlight">Style &amp; Tone Guide</h1>

        <p>This style guide was created to support GPOBA team members in writing and communicating in a clear, consistent manner. Given we all have very different roles and responsibilities, it is easy to create our own ideas of how we communicate when talking about GPOBA. Think of GPOBA as a living, breathing person – how would GPOBA think, talk to you, and react to what you say? </p>

        <p>This living document is meant to help you craft stories and share your message in a similar manner across GPOBA so that everyone is speaking in the same voice. Specifically, the document outlines tone and voice and provides broad guidance for written content; these guidelines are not meant to be overly prescriptive and instead provide some general pointers that we can all share. </p>

        <p>This document also begins to look at the graphic style of GPOBA - how we use our logo, what colors and fonts to use, and even imagery. Typography, colors, and logo use should remain as consistent as possible to maintain clear image of who GPOBA is. Guidance on images, however, is to be used as a general indication of what kinds of images to consider over others, and not be taken as rules that constrain how you share a story.</p>

        <p>Finally, make this style guide yours - we want to make sure that this document changes, adapts and reflects the diverse voices of all of us at GPOBA. </p>
</main>

<%= partial "components/local_nav", :locals => {
    :next_page => data.chapters[0]
} %>
